{% extends 'main/base.html' %}
{% block content %}
<header class="bg-white shadow">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
      <h1 class="text-3xl font-bold text-gray-900">Employee('s)</h1>
      <a href="" class="py-3 px-10 lg:px-8 xl:px-10 inline-flex items-center justify-center text-center text-white text-bas bg-gray-800 hover:bg-opacity-90 font-normal rounded-full">
        Add Employee
      </a>
    </div>
  </header>
              <div class="max-w-7xl mx-auto ">
                <table class="w-full whitespace-no-wrap">
                  <thead>
                    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                            <td class="px-4 py-3 text-lg">
                                Name
                              </td>
                         
                          <td class="px-4 py-3 text-lg">
                            Phone Number
                          </td>
                          <td class="px-4 py-3 text-lg">
                            <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                              Email
                            </span>
                          </td>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for i in employees %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      <td class="px-4 py-3">
                        <div class="flex items-center text-sm">
                          <!-- Avatar with inset shadow -->
                          <div>
                            <p>
                            <p class="font-semibold">Name: {{ i.name_f }}</p>
                            <p class="text-xs text-gray-600 dark:text-gray-400">
                              Employee ID: {{ i.employee_id }}
                            </p>
                          </div>
                        </div>
                      </td>
                      <td class="px-4 py-3 text-sm">
                        {{i.phone}}
                      </td>
                      <td class="px-4 py-3 text-xs">
                        <span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
                          {{ i.email }}
                        </span>
                      </td>
                    </tr>


    
                    {% endfor %}
                  </tbody>
                </table>
              </div>     
              
              {% endblock content %}
            